{% extends 'base.html.twig' %}

{% block title %} Students {% endblock %}

{% block body %}

    <div class="container mt-5 row">

        <div style="display:flex;justify-content:space-evenly;align-items:center" >
            <div>
                <img style="width:500px ;" src="https://img.freepik.com/free-vector/oops-404-error-with-broken-robot-concept-illustration_114360-5529.jpg"/>
            </div>

            <div>
                <a href="/students" class="btn btn-primary"> Back </a>
            </div>
        </div>

    </div>

{% endblock %}